@font-face {
  font-family: Game of Thrones;
  src: url("fonts/Game-of-Thrones.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "EB Garamond";
  src: url("fonts/EBGaramond-Regular.ttf");
}
* {
  outline: none;
}

body {
  margin: 0;
  font-size: 1.4em;
  color: #d3bb89;
}

.wrapper {
  display: flex;
}

/* Left Block */
.left-main-block {
  width: 50%;
  display: flex;
  justify-content: center;
}

.left-main-block__img {
  max-height: 100vh;
}

/* Right block */
.right-main-block,
.login-form,
.info-form {
  display: flex;
  flex-direction: column;
}

.right-main-block {
  background-image: url("img/darknoise.png");
  width: 50%;
  justify-content: center;
  align-items: center;
}

.head {
  font-family: "Game of Thrones", fantasy;
  font-size: 2.5rem;
  font-weight: normal;
}

.form__label {
  font-family: "EB Garamond", serif;
}

.form__hint {
  color: #fef8eb;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  margin: 0;
}

.form__input {
  width: 500px;
  height: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #d3bb89;
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
  border-color: #d3bb89;
  margin-bottom: 30px;
}

.form__select,
.form__option {
  color: #fef8eb;
}

.form__option {
  background-color: #202020;
}

.form__button {
  margin: 40px 0;
  height: 45px;
  color: #fef8eb;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #c19a49;
  border: none;
}

.info-message {
  font-family: "Open Sans", sans-serif;
  color: #fef8eb;
  font-size: 0.9rem;
  padding-left: 20px;
  border-left: solid #d3bb89 2px;
}

.preferences {
  height: 70px;
}
