@font-face {
  font-family: Game of Thrones;
  src: url("fonts/Game-of-Thrones.ttf");
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
}

/* Left Block */
.left-main-block {
  width: 50%;
}

.left-main-block__img {
  display: flex;
  height: auto;
  width: auto;
  min-height: 100vh;
  max-width: 50vw;
}

/* Right block */
.right-main-block {
  background-image: url("img/darknoise.png");
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  font-family: "Game of Thrones", fantasy;
  color: #d3bb89;
}